<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="acf-component-manager">
			<directory prefix="test-" suffix=".php">./tests/php/unit/</directory>
		</testsuite>
	</testsuites>

	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./</directory>
		</include>
	</coverage>
</phpunit>
